<template>
    <div>
        <CapsuleCard/>
    </div>
</template>

<script>
// @ is an alias to /src
import { mapState } from 'vuex'
import CapsuleCard from '@/components/CapsuleCard.vue'

export default {
  
  name: 'CapsuleView',
  created() {
      this.$store.dispatch('loadDragons');
  },
  components: {
    CapsuleCard
  },
  computed: mapState([
      'dragons',
  ]),
}
</script>