<template>
  <div class="home my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div>
          <h1>Space Rockets</h1>
        </div>
        <div class="col-md-8 col-12">
          <p>Welcome to our website all about SpaceX rockets! Here at Space Rockets, we are passionate about all things space exploration and are excited to share our knowledge and love for SpaceX rockets with you.</p>
          <p>SpaceX, founded by Elon Musk, is a private aerospace manufacturer and space transport services company based in Hawthorne, California. Since its founding in 2002, SpaceX has become one of the leading companies in the space industry, with a focus on developing reusable rockets and reducing the cost of space travel.</p>
          <p>On this website, you can learn about the various rockets developed and launched by SpaceX, including the Falcon 9 and Falcon Heavy. You can also stay up to date on the latest SpaceX launches and space missions, as well as learn about the company's long-term goals and plans for the future of space travel.</p>
          <p>Thank you for visiting our website and we hope you enjoy learning about SpaceX rockets as much as we do!</p>
        </div>
      </div>
    </div>
  </div>
  <RocketCard/>
</template>

<script>

// @ is an alias to /src
import RocketCard from '@/components/RocketCard.vue'

export default {
  name: 'HomeView',
  components: {
    RocketCard,
  },
}
</script>
