<template>
    <div>
        <RocketCardOne/>
    </div>
</template>

<script>
import RocketCardOne from '@/components/RocketCardOne.vue'
export default {
    name: 'RocketView',
    components: {
        RocketCardOne
    },
}
</script>