<template>
    <div class="my-5">
      <h1>Capsules list</h1>
      <div class="container">
        <div class="row">

          <div 
          v-for="(dragon, index) in this.dragons" 
          :key="index">

            <div class="accordion" id="accordionExample">

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse' + index" :aria-expanded="[index == 0 ? 'true' :'false']" :aria-controls="'#collapse' + index">
                    {{ dragon.name }}
                  </button>
                </h2>
                <div :id="'collapse' + index" class="accordion-collapse collapse" :class="{ show: index === 0 }" :aria-labelledby="'headingOne' + index" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-md-3 col-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn-img" data-bs-toggle="modal" :data-bs-target="'#staticBackdrop' + index">
                          <img class="img-fluid" :src="dragon.flickr_images[1]" alt="">
                        </button>
                      </div>
                      <div class="col-md-9 col-12 d-flex align-items-center">
                        <p class="m-0">{{ dragon.description }}</p>
                      </div>

                      <div class="col-md-6 col-12 text-start my-2">
                        <h3>Basic information</h3>
                        <div class="row">
                          <div class="col-md-6 col-12">
                            <ul class="text-start">
                              <li>Active : {{ dragon.active }}</li>
                              <li>Crew capacity : {{ dragon.crew_capacity }}</li>
                              <li>Dry mass kg : {{ dragon.dry_mass_kg }}</li>
                              <li>Dry mass lb : {{ dragon.dry_mass_lb }}</li>
                              <li>First flight : {{ dragon.first_flight }}</li>
                              <li>
                                Diameter : 
                                <ul>
                                  <li>Meters : {{ dragon.diameter.meters }}</li>
                                  <li>Feet : {{ dragon.diameter.feet }}</li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-6 col-12">
                            <ul class="text-start">
                              <li>
                                Launch payload mass :
                                <ul>
                                  <li>KG : {{ dragon.launch_payload_mass.kg }}</li>
                                  <li>LB : {{ dragon.launch_payload_mass.lb }}</li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-12 text-start my-2">
                        <h3>Heat shield</h3>
                        <ul>
                          <li>Material : {{ dragon.heat_shield.material }}</li>
                          <li>Size meters : {{ dragon.heat_shield.size_meters }}</li>
                          <li>Temp degrees : {{ dragon.heat_shield.temp_degrees }}</li>
                          <li>Dev partner : {{ dragon.heat_shield.dev_partner }}</li>
                        </ul>
                      </div>

                      <div class="col-md-3 col-12 text-start my-2">
                        <h3>Thrusters</h3>
                        <ul>
                          <li>Type : {{ dragon.thrusters[0].type }}</li>
                          <li>Amount : {{ dragon.thrusters[0].amount }}</li>
                          <li>Pods : {{ dragon.thrusters[0].pods }}</li>
                          <li>Fuel 1 : {{ dragon.thrusters[0].fuel_1 }}</li>
                          <li>Fuel 2 : {{ dragon.thrusters[0].fuel_2 }}</li>
                          <li>ISP : {{ dragon.thrusters[0].isp }}</li>
                          <li>
                            Trust :
                            <ul>
                              <li>kN : {{ dragon.thrusters[0].thrust.kN }}</li>
                              <li>lbf : {{ dragon.thrusters[0].thrust.lbf }}</li>
                            </ul>
                          </li>
                        </ul>
                      </div>

                    </div>

                    <div class="col-12"></div>
                      <!-- Modal -->
                      <div class="modal fade" :id="'staticBackdrop' + index" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">{{ dragon.name }}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <img class="img-fluid" :src="dragon.flickr_images[1]" alt="">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div> 
 
</template>

<script>
import { mapState } from 'vuex'
export default {
    name: 'CapsuleCard',
    data() {
        return {
        
        }
    },
    computed: mapState([
      'dragons',

    ]),
}
</script>

<style>
  .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 400px;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

  .card-image {
    width: 200px;
    height: 200px;
    background-color: #ccc;
  }
  .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-content {
    padding: 20px;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 16px;
    color: #777;
  }
</style>