<template>
    <footer class="footer">
      <p>Copyright {{ year }}</p>
    </footer>
</template>
  
<script>
  export default {
    data() {
      return {
        year: new Date().getFullYear()
      }
    }
  }
</script>
  
<style>
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
 </style>