<template>
    <header>
      <img src="../assets/logo.png" alt="Logo" />
      <nav>
        <ul>
          <router-link to="/">Home</router-link> |
          <router-link to="/capsule">Capsule</router-link> |
          <router-link to="/about">About</router-link>
        </ul>
      </nav>
    </header>
  </template>
  
  <script>
  export default {
    name: 'HeaderItem'
  }
  </script>
  
  <style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
  }
  
  header img {
    height: 2rem;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    margin: 0 0.5rem;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  </style>
  