<template>
    <div>
        <swiper
            :modules="modules"
            :slides-per-view="3"
            :space-between="50"
            navigation
            Autoplay
            :pagination="{ clickable: true }"
            :scrollbar="{ draggable: true }"
            @swiper="onSwiper"
            @slideChange="onSlideChange"
        >
            <swiper-slide 
            v-for="(rocket, index) in this.rockets" 
            :key="index">
                <router-link :to="'/rocket/' + rocket.id">
                    <h2>{{ rocket.name }}</h2>
                    <img class="img-fluid" :src="rocket.flickr_images[0]" alt="">
                </router-link> 
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
// import Swiper core and required modules
import { Navigation, Pagination, Scrollbar, A11y, Autoplay } from 'swiper';

// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';
import 'swiper/css/autoplay';

import { mapState } from 'vuex'
export default {
    name: 'RocketCard',
    data() {
        return {
        
        }
    },
    computed: mapState([
      'rockets',

    ]),
    components: {
        Swiper,
        SwiperSlide,
    },
    setup() {
      const onSwiper = (swiper) => {
        console.log(swiper);
      };
      const onSlideChange = () => {
        console.log('slide change');
      };
      return {
        onSwiper,
        onSlideChange,
        modules: [Navigation, Pagination, Scrollbar, A11y, Autoplay],
      };
    },
}
</script>