<template>
    <div class="container">
        <div class="row">
            <div v-if="data">
                <h1>{{ data.name }}</h1>
                <div class="col-12">
                    <img :src="data.flickr_images[0]" alt="">
                </div>
                <div class="col-12">
                    <p>{{ data.description }}</p>
                </div>
                <div class="col-12">
                    <a :href="data.wikipedia" target="_blank">wikipedia</a>
                </div>
            </div>  
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: 'RocketCardOne',
    data() {
        return {
        data: null
        }
    },
    components: {
        
    },
    mounted() {
        axios.get('https://api.spacexdata.com/v4/rockets/'+this.$route.params.id)
        .then(response => {
            this.data = response.data;
        });
    },
}
</script>