<template>
  <HeaderItem/>
  <router-view/>
  <FooterItem/>
</template>

<script>
import HeaderItem from '@/components/HeaderItem.vue'
import FooterItem from '@/components/FooterItem.vue'
import { mapState } from 'vuex'
  export default {
    created() {
      this.$store.dispatch('loadRockets')
    },
    components: {
      HeaderItem,
      FooterItem
    },
    computed: mapState([
      'rockets'
    ]),
  }
</script>

<style lang="scss">
body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
